
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
}
body {
	font-size: 14px;
	background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #555;
    text-align: center;
    margin: 0;
}
strong {
	font-weight: 700;
}
a, a:hover, a:focus {
	color: #2ba560;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
a:active{
	outline: none;
}
ul li{
	display: inline;
}
ul.menu-in-header li{
	margin: 0 30px 0;
	color: white;
	font-size: 16px;
	font-weight: 400;
}
li{
	text-align: left;
	list-style-type: none;
}
h1, h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 700;
    color: #444;
    line-height: 54px;
    text-transform: uppercase;
}
h1{
	font-size: 62px;
	font-weight: bold;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
h3 p{
	font-size: 26px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 18px;
}
p{
	font-size: 16px;
}
img {
	max-width: 100%;
}
hr{
	border:1px solid #2196f3;
	width: 100px;
}
.text-l{
	text-align: left;
}
.text-r{
	text-align: right;
}
.clearfix{
	content: "";
	display: table;
    clear: both;
}
.position{
	width: 300px;
	margin: 0 auto;
}
/***** color and gradient *****/
.color-1{
	background: linear-gradient(180deg, #8d80f4, #f9b9f5);
}
.color-2{
	background: linear-gradient(180deg, #fa9140, #f7cd33);
}
.color-3{
	background: linear-gradient(180deg, #e978ae, #ffb6a5);
}
.color-4{
	background: linear-gradient(270deg, #00365e, #005f97);
}
.color-5{
	background: linear-gradient(180deg, #2472d2, #31adeb);
}
.color-6{
	background: linear-gradient(315deg, #78d9c8, #dcf6c7);
}
.color-7{
	background: linear-gradient(90deg, #92f7bb, #76ddc0);
}
.color-8{
	background: linear-gradient(180deg, #a5b2c3, #c1ccde);
}
.color-button-1{
	background: rgba(0, 180, 255, 1.0)
}
.color-button-2{
	background: #31475f;
}
.margin-t-100{
	margin-top: 100px;
}
/***** preloader *****/
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner 
    {
        width: 30px;
        height: 30px;
        background-color: #55acee;         
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/***** navbar *****/
.custom-navbar 
    {
        margin-bottom: 0;
        background-color: #fff;
        text-align: right;
    }
.custom-navbar .navbar-brand 
    {
        color: #55acee;
        font-weight: bold;
        font-size: 28px;
    }
.custom-navbar .nav li a
     {
         color: #555;
         font-weight: 400;
         font-size: 14px;
         text-transform: uppercase;
    }
.custom-navbar .nav li a:hover
    {
        background: transparent;
        color: #55acee;
    }
.custom-navbar .nav li.active > a
    {
         background-color: transparent;
         color: #55acee;
    }
.custom-navbar .navbar-toggle
    {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar
    {
        background: #55acee;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar
         {
             padding: 20px 0;
            border-bottom: 0;
             background: 0 0;
             transition: all 0.3s ease;
         }
    .custom-navbar.top-nav-collapse
         {
            padding: 0;
            box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
            background: #fff;
        }
}

/***** Section *****/
@media screen and (min-width: 1200px) and (min-height: 950px){
	#header{
	width: 100%;
	height: 560px;
  }
	#service{
		width: 100%;
		height: 500px;
		/* margin-top: 80px; */
  }
/* comment	#figure{
		width: 100%;
		height: 460px;
		position: relative;
  } */
 	#about{
		width: 100%;
		/* height: 300px; */
		/* margin-top: 75px; */
  }
	#image{
		width: 100%;
		height: 100%;
		/* height: 900px; */
  }
	#maps{
		width: 100%;
		height: 430px;
		background: grey;
		/* margin-top: 100px; */
  }
	#YMapsID{
	 	width: 100%;
	 	height: 430px;
  }
}
@media screen and (min-width: 1200px) and (min-height: 800px){
	#header{
	width: 100%;
	height: 970px;
  }
	#service{
		width: 100%;
		height: 500px;
		/* margin-top: 80px; */
  }
/* comment	#figure{
		width: 100%;
		height: 460px;
		position: relative;
  } */
  	#about{
		width: 100%;
		/* margin-top: 75px; */
  }
	#image{
		width: 100%;
		height: 100%;
		/* height: 900px; */
  }
	#maps{
		width: 100%;
		height: 430px;
		background: grey;
		/* margin-top: 100px; */
  }
	#YMapsID{
	 	width: 100%;
	 	height: 430px;
  }
}
.ymaps-map{
	background: rgba(0, 0, 0, 1.0)
}
/***** #header *****/
.img-header{
	background: #f0f4f7;
	background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../img/pexels-photo-0.jpeg');
	background:  cover;
}
.container-image{
	width: 100%;
	height: 100%;
	position: relative;
	border-bottom: 2px solid #fff;
}
.image{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(255, 255, 0, .2)), url('../img/pexels-photo-1.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.qwe{
	padding: 30px 0;
}
.qwe h3{
	color: white;
	font-size: 26px;
}
.menu-in-header{
	float: right;
}
.head-title{
	margin-top: 33%;
}
.head-title h1, .head-title h4{
	color: white;
}
.button-get{
	color: white;
	background: #2196F3;
	margin-top: 7%;
	padding: 11px 44px;
	border-radius: 100px;
	letter-spacing: 1px;
	text-decoration: uppercase;
	border: 0;
}
.button-get:hover{
	cursor: pointer;
	box-shadow: 0 4px 20px rgba(33, 150, 243, .3);
	outline: none;
}
.button-get:active, .button-get:focus{
	outline: none;
}
.button-get-black{
	color: white;
	background: rgba(0, 0, 0, .0);
	padding: 10px 40px;
	border-radius: 20px;
	border: 1px solid white;
}
.button-get-black:hover{
	cursor: pointer;
	outline: none;
}
.button-get-black:active, .button-get-black:focus{
	outline: none;
}
/***** #service *****/
#service .media{
	padding: 10px;
}
#service h3{
	font-size: 20px;
}
#service h3, #service p{
	text-align: left;
}
.row-block{
	width: 100%;
	margin-top: 100px; 
}
.block-line{
	display: inline-block;
	height: 320px;
	width: 22%;
	margin: 0 10px;
	padding: 10px;
	/* transition-duration: .2s; */
}

.icon-monitor{
	width: 60px;
	height: 45px;
	background: url('../img/svg/monitor.svg');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}
.icon-table{
	width: 60px;
	height: 45px;
	background: url('../img/svg/tablet.svg');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}
.icon-smart{
	width: 60px;
	height: 45px;
	background: url('../img/svg/smart.svg');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}
/***** About *****/
.venum{
	width: 100%;
	height: 450px;
	background: url('../img/pexels-photo-1.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
.block-blur{
	color: #000;
	background: rgba(255, 255, 255, .7);
	margin: 60px 0;
	padding: 15px 40px;
	font-weight: 500;
}
/*****  #portfolio *****/
#filter {
	margin-bottom: 50px !important;
	margin-left: -37px !important;
	margin-top: 37px !important;
	display: inline-block !important;
}
#filter  li{
	margin-bottom: 30px !important;
	margin-right: 10px !important;
	border-radius:0!important;
	background:none!important;
	padding:0!important;
	box-shadow: none!important;
	padding-right: 0!important;
	padding-left: 0!important;
	padding-top:0!important;


	float:left;
	list-style:none;
}
#filter  li:last-child{
	margin-right: 0;
}
#filter li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	/* margin-bottom: 15px;
	margin-right: 10px; */
	/* border-radius:4px; */
	padding:10px;
	background:#2f2f2f;
	/* box-shadow: 0px 2px 0px 0px #000; */
	padding-right: 18px;
	padding-left: 18px;
	padding-top:11px;
}
#filter li a:hover{
	cursor:pointer;
	/* background:#42A5F5; */
	color:#fff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
#filter .current{
	background:#1fcdff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
/**/
.block-filter{
	margin: 0 10px;
}
 .pretty .img-responsive{
	transition-duration: 0.5s;
 }
.pretty .gall a:hover .img-responsive{
	opacity:0.45;
	transition-duration: 0.5s;
}
.view h3{
	margin-bottom: 5px;
	text-align:center;
	//margin-left: -14px;
	margin-top: 12px;
}
.view a{
	text-decoration:none;
	color:#2f2f2f;
	font-size: 16px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view li{
	display:inline-block;
	height:40px;
	background:none;
	text-decoration:none;
	color:#a9a9a9;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view a:hover{
	color:#1fcdff;
}
.view ul{
	display:block !important;
	margin-top: 7px;
	margin-bottom:25px;
	text-align: center;
	padding-left: 0;
}
.view ul li{
	margin-right: 5px;
	font-style:normal;
	display:inline-block;
	font-family: FontAwesome;
	font-size:13px;
	color:#a9a9a9;
}
.view ul li{
	margin-right: 12px;
	text-align:center;
	display: inline-block;
	background: none;
	box-shadow: none;
	list-style:none;
}
#filter{
	display: inline-block;
	margin-top: 45px;
}
.view ul a:hover , .view ul a:hover i{
	color:#fd5f5b;
}
.view ul a{
	display:inline-block;
	color:#a9a9a9;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}


/* __________ Isotope Styles __________ */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#filter li a.selected {
	cursor:pointer;
	background:#2196f3;
	color:#fff;
	/* box-shadow: 0px 2px 0px 0px #179abf; */
}
/***** #Footer *****/

footer {
	/* height: 572px; */
	padding: 60px 0 0 0;
	background: #f0f4f7;
	background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url('../img/pexels-photo-2.jpeg');
	background:  cover;
}
.footer{
	width: 100%;
}
.rel{
	position: relative
}
.contact{
	position: absolute;
	top: 0px;
}
.container-contact{
	height: 100px;
	padding: 0 20px;
}

.b1{
	display: inline-block;
}
.b2{
	display: inline-block;
	padding-left: 20px;
}
.b2 h5, .b2 p{
	margin: 0;
	color: #fff;
	letter-spacing: 1px;
}
.icon-location{
	width: 30px;
	height: 30px;
	background: url('../img/svg/location.svg');
	background-size: 28px 28px;
	background-repeat: no-repeat;
}
.icon-email{
	width: 30px;
	height: 30px;
	background: url('../img/svg/email.svg');
	background-size: 28px 28px;
	background-repeat: no-repeat;
}
.icon-phone{
	width: 30px;
	height: 30px;
	background: url('../img/svg/phone.svg');
	background-size: 28px 28px;
	background-repeat: no-repeat;
}
.footer-cop{
	width: 100%;
	height: 50px;
	margin-top: 50px;
	color: #fff;
	font-weight: 400;
}
.inline-footer{
	display: inline-block;
	width: 49%;
	height: 100%;
}
.inline-footer p {
	text-align: left;
	color: white;
}
.inline-footer input, .inline-footer textarea{
	margin-top: 30px;
}
input[type="text"]{
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	padding: 8px 15px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid white;
	background: rgba(0, 0, 0, .0);
	color: white;
}
input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus {
	outline: none;
}
textarea{
	width: 100%;
	height: 190px;
	font-size: 18px;
	font-weight: 400;
	padding: 8px 15px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid white;
	background: rgba(0, 0, 0, .0);
	color: white;
	resize: vertical;
}
textarea:hover, textarea:active, textarea:focus{
	outline: none;
}
.button-footer{
	width: 170px;
	color: white;
	background: #2196f3;
	padding: 11px 15px;
	border-radius: 20px;
	border: 0;
	margin: 25px auto 0;
	letter-spacing: 1px;
}
.button-footer:hover{
	cursor: pointer;
	box-shadow: 0 4px 20px rgba(33, 150, 243, .3);
	outline: none;
}
.button-footer:active, .button-footer:focus{
	outline: none;
}