* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
}
body {
	font-size: 14px;
	background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #888;
    text-align: center;
    margin: 0;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #2ba560;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 700;
    color: #444;
    line-height: 54px;
    text-transform: uppercase;
}
/* h2 { text-align: left; } */

h3 {

}
h1{
	font-size: 80px;
	font-weight: bold;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
h3 p{
	font-size: 26px;
}
h4{
	font-size: 28px;
}
h5{
	font-size: 18px;
}
p{
	font-size: 16px;
}
img { max-width: 100%; }
.text-l{
	text-align: left;
}
.text-r{
	text-align: right;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.position{
	width: 300px;
	margin: 0 auto;
}
/***** Section *****/
@media screen and (min-width: 1200px) and (min-height: 950px){
	#header{
	width: 100%;
	height: 560px;
  }
	#start{
		width: 100%;
		height: 500px;
		margin-top: 80px;
  }
	#figure{
		width: 100%;
		height: 460px;
		position: relative;
  }
	#image{
		width: 100%;
		height: 100%;
		/* height: 900px; */
  }
	#mail{
		width: 100%;
		margin-top: 75px;
  }
	#maps{
		width: 100%;
		height: 430px;
		background: grey;
		margin-top: 20px;
  }
	#YMapsID{
	 	width: 100%;
	 	height: 430px;
  }
}
@media screen and (min-width: 1200px) and (min-height: 800px){
	#header{
	width: 100%;
	height: 560px;
  }
	#start{
		width: 100%;
		height: 500px;
		margin-top: 80px;
  }
	#figure{
		width: 100%;
		height: 460px;
		position: relative;
  }
	#image{
		width: 100%;
		height: 100%;
		/* height: 900px; */
  }
	#mail{
		width: 100%;
		margin-top: 75px;
  }
	#maps{
		width: 100%;
		height: 430px;
		background: grey;
		margin-top: 20px;
  }
	#YMapsID{
	 	width: 100%;
	 	height: 430px;
  }
}
/***** header *****/
.container-image{
	width: 100%;
	height: 100%;
	position: relative;
	border-bottom: 2px solid #fff;
}
.image{
	width: 100%;
	height: 100%;
	background-image: url('../img/pexels-photo-1.jpeg');
	background-size: cover;
}
.image-overlay{
	width: 100%;
	height: 100%;
	background: rgba(13,71,161,0.2);
}
.title{
	position: absolute;
	top: 20px;
	left: 1px;
}
.button-get{
	color: white;
	background: #2196F3;
	padding: 12px 45px;
	border-radius: 20px;
	border: 0;
}
.button-get:hover{
	cursor: pointer;
	box-shadow: 0 4px 20px rgba(33, 150, 243, .3);
}
/***** start *****/
.container-start{
	position: relative;
	margin: 0 auto;
}
.quad-start{
	position: relative;
	width: 340px;
	margin: 0 auto;
}
.image-start{
	position: absolute;
	width: 150px;
	height: 150px;
	background: #FFEBEE;
	top:-55px;
	left: 95px;
	z-index: -1;
}
.row-block{
	width: 100%;
	margin-top: 100px; 
}
.block-line{
	display: inline-block;
	height: 320px;
	width: 22%;
	margin: 0 10px;
	padding: 10px;
	/* transition-duration: .2s; */
}

.icon-monitor{
	width: 60px;
	height: 60px;
	background: url('../img/svg/monitor.svg');
	background-size: 60px 60px;
	background-repeat: no-repeat;
}
.icon-table{
	width: 60px;
	height: 60px;
	background: url('../img/svg/tablet.svg');
	background-size: 60px 60px;
	background-repeat: no-repeat;
}
.icon-smart{
	width: 60px;
	height: 60px;
	background: url('../img/svg/smart.svg');
	background-size: 60px 60px;
	background-repeat: no-repeat;
}
/***** figure *****/

.figure-containe{
	width: 60%;
	height: 150px;
	top: -40px;
	left: 20%;
	right: 30%;
	background: #A5D6A7;
	position: absolute;
}
.external-circle{
	width: 250px;
	height: 250px;
	background: #B2EBF2;/* linear-gradient(45deg, #EECFBA, #C5DDE8) */
	border-radius: 200px;
	position: absolute;
	right: 0px;
	z-index: -1;
}
.internal-circle{
	width: 210px;
	height: 210px;
	background: white;
	border-radius: 200px;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: -1;
}
.tria{
	position: absolute;
	top: 65px;
	left: 90px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.external-tria{
	position: absolute;
	width: 0; height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F0F4C3;
}
.internal-tria{
	position: absolute;
	top: 25px;
	left: 18px;
	width: 0; height: 0;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 64px solid white;
}
.quad{
	width: 170px;
	height: 170px;
	border: 10px solid #64B5F6;
}
/*****  image *****/
#filter {
	margin-bottom: 50px !important;
	margin-left: -37px !important;
	margin-top: 37px !important;
	display: inline-block !important;
}
#filter  li{
	margin-bottom: 30px !important;
	margin-right: 10px !important;
	border-radius:0!important;
	background:none!important;
	padding:0!important;
	box-shadow: none!important;
	padding-right: 0!important;
	padding-left: 0!important;
	padding-top:0!important;


	float:left;
	list-style:none;
}
#filter  li:last-child{
	margin-right: 0;
}
#filter li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	
	//margin-bottom: 15px;
	//margin-right: 10px;
	border-radius:4px;
	
	padding:10px;
	background:#2f2f2f;
	/* box-shadow: 0px 2px 0px 0px #000; */
	padding-right: 18px;
	padding-left: 18px;
	padding-top:11px;
}
#filter li a:hover{
	cursor:pointer;
	/* background:#42A5F5; */
	color:#fff;
	/* box-shadow: 0px 2px 0px 0px #179abf; */
}
#filter .current{
	background:#1fcdff;
	box-shadow: 0px 2px 0px 0px #179abf;
}
/**/
.block-filter{
	margin: 0 10px;
}
 .pretty .img-responsive{
	transition-duration: 0.5s;
 }

.pretty .gall a:hover .img-responsive{
	opacity:0.45;
	transition-duration: 0.5s;
}

.view h3{
	margin-bottom: 5px;
	text-align:center;
	//margin-left: -14px;
	margin-top: 12px;
}
.view a{
	text-decoration:none;
	color:#2f2f2f;
	font-size: 16px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view li{
	display:inline-block;
	height:40px;
	background:none;
	text-decoration:none;
	color:#a9a9a9;
	font-size: 13px;
	text-align:center;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
.view a:hover{
	color:#1fcdff;
}
.view ul{
	display:block !important;
	margin-top: 7px;
	margin-bottom:25px;
	text-align: center;
	padding-left: 0;
}
.view ul i{
	margin-right: 5px;
	font-style:normal;
	display:inline-block;
	font-family: FontAwesome;
	font-size:13px;
	color:#a9a9a9;
}
.view ul li{
	margin-right: 12px;
	text-align:center;
	display: inline-block;
	background: none;
	box-shadow: none;
	list-style:none;
}
#filter{
	display: inline-block;
	margin-top: 45px;
}
.view ul a:hover , .view ul a:hover i{
	color:#fd5f5b;
}
.view ul a{
	display:inline-block;
	color:#a9a9a9;
	font-size: 13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
}
/***** mail *****/
.container-mail{
	position: relative;
	margin: 0 auto;
}
.tria-mail{
	position: relative;
	width: 340px;
	margin: 0 auto;
}
.image-mail{
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 140px solid #E3F2FD;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
	top:-70px;
	left: 90px;
	z-index: -1;
}
.contact{
	/* width: 65%; */
	margin: 0 auto;
	margin: 140px 0 70px 0;
	display: inline-block;
}

.container-contact{
	width: 28%;
	height: 100px;
	display: inline-block;
	padding: 0 20px;
}
.b1{
	display: inline-block;
}
.b2{
	display: inline-block;
	padding-left: 20px;
}
.b2 h5, .b2 p{
	margin: 0;
}
.icon-location{
	width: 50px;
	height: 50px;
	background: url('../img/svg/location.svg');
	background-size: 50px 50px;
	background-repeat: no-repeat;
}
.icon-email{
	width: 50px;
	height: 50px;
	background: url('../img/svg/email.svg');
	background-size: 50px 50px;
	background-repeat: no-repeat;
}
.icon-phone{
	width: 50px;
	height: 50px;
	background: url('../img/svg/phone.svg');
	background-size: 50px 50px;
	background-repeat: no-repeat;
}
.input-line{
	display: inline-block;
}
.container-input p{
	text-align: left;
}
.name-class{
	margin-right: 40px;
}
input, textarea{
	border: 1px solid #cfd9db;
	background-color: #ffffff;
	border-radius: .25em;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
input:focus, textarea:focus{
	outline: none;
	border-color: #2c97de;
	box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
input[type="text"]{
	width: 450px;
	font-size: 18px;
	padding: 8px 15px;
}
.container-textarea {
	width: 940px;
	margin: 0 auto; 
}
textarea{
	width: 940px;
	height: 190px;
	font-size: 18px;
	padding: 8px 15px;
	resize: vertical;
}
input[type="submit"]{
	color: white;
	background: #E53935;
	padding: 12px 30px;
	border-radius: 20px;
	border: 0px;
}
input[type="submit"]:hover{
	cursor: pointer;
	box-shadow:  0 10px 20px rgba(229,57,53,.3);
}
.container-button{
	margin-top: 35px;
}
.block-contact{
	display: inline-block;
	height: 230px;
	width: 23%;
	margin:0 10px;
	padding: 10px;
}

/***** Footer *****/
.lineBlack{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	
	background: url(../images/bgFooter.png)  no-repeat;
	background:#101010;
}
.downLine{
	margin-bottom: 35px;
	margin-top: 127px;
}
.downLine p{
	font-size:13px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	color:#fff;
}
.lineBlack:before{
	top: 0;
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 178px;
	background: url(../images/bgBeforFooter.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* __________ Isotope Styles __________ */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#filter li a.selected {
	cursor:pointer;
	background:#2196f3;
	color:#fff;
	/* box-shadow: 0px 2px 0px 0px #179abf; */
}
/***** Footer *****/

footer {
	height: 180px;
	padding: 60px 0 20px 0;
	background: #DBDEE7;
	text-align: right;
}

footer .scroll-to-top {
	font-size: 36px;
	text-align: center;
}
footer .scroll-to-top a { color: black; }
footer .scroll-to-top a:hover, footer .scroll-to-top a:focus, footer .scroll-to-top a:active { outline: 0; opacity: 0.6; color: #666; }

.footer-copyright {
	margin: 11px 0 0 0;
	font-size: 18px;
	color: black;
    line-height: 32px;
    text-align: left;
}
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #fff; border-bottom: 1px dotted #fff; }

.footer-social a { margin: 0 8px; font-size: 39px; color: #666; }
.footer-social a:hover, .footer-social a:focus { color: #666; opacity: 0.6; }
